/*
#one{
    display:grid;
    grid-template-rows: 3fr;
    grid-template-columns: 3fr auto;
    grid-template-areas: 
    "uno due"
    "uno quattro"
    "uno tre"
}

#one article{
    width:100%;
}


#one article:nth-child(1){
    grid-area: uno;
    width:100%;
    height:100%;
    max-height:80em;
} 

#one article:nth-child(2) {
    grid-area: due;
}

#one article:nth-child(3){
    grid-area: tre;
} 

#one article:nth-child(4) {
    grid-area: quattro;
}
*/

:root{
    --bg-primary-color: white !important;
    --bg-secondary-color: #f6f6f6   !important;
    --text-color: #4D4D4D  !important;
    --tiles-text-color: #4d4d4d;
    --bg-even-color: #FFFFFF !important;
    --bg-odd-color: #F0F0F0 !important;
    --section-border-color: #ccc !important;
    --btn-shadow-inset-color: #ccc !important;
}
.button{
    box-shadow: inset 0 0 0 2px var(--text-color) !important;
    color: var(--text-color);
}
body{
    background-color: var(--bg-primary-color);
    color: var(--text-color) !important;
}
h1,h2,h3{
    color:  var(--text-color) !important;
}
strong{
    color: var(--text-color);
}
#main{
    background-color:var(--bg-primary-color);
}
input, textarea{
    background-color: white !important;
    color:#333 !important;
}
#one article:nth-child(2n)::before{
 background-color:#2F4F4F !important;   
 background-color: var(--bg-odd-color) !important;
}
#one article:nth-child(2n+1)::before {
background-color:var(--bg-odd-color);
}
#header{
    background-color:var(--bg-secondary-color);
}
nav{
    background-color: var(--bg-secondary-color);
}


section{
    border-bottom: 1px solid var(--section-border-color) !important;
}
#banner{
   
    background-image:none !important; 
   /*  background-color:#336699 !important; */
}
#banner::after{
    background-color:var(--bg-secondary-color) !important;
    width:22.7%;
}

#two{
    background-color:#2F4F4F;
    background-color: var(--bg-primary-color);
}

#contact{
    background-color:var(--bg-secondary-color);
    
}
label{
    color:var(--text-color) !important;
}
#footer{
    background-color: var(--bg-primary-color);
}

#footer li {
    color: var(--text-color) !important;
}
.spotlights > section{
    background-color: var(--bg-secondary-color);
}

.spotlights > section:nth-child(2n){
    background-color: var(--bg-primary-color)
}

/*Lavori*/
.lavori img{
 
    max-height:500px !important;
    object-fit:cover;
}
/*Gallery*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
  }
  
  .work-item {
    text-align: center;
  }
  
  .work-item img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
  }
  .work-item img:hover {
    transform: scale(2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    object-fit:cover;
}

@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 5px;
    }
    .work-item img {
        width: 120px;
        height: 120px;
    }

    .lavori img{
 
        max-height:300px !important;
        object-fit:cover;
    }
}

